*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 
    
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    }
    
    html {
    font-size: 14px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: messina-sans;
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    }
    
    /* header section styling*/
    
    .header-content{
    min-height: 10vh;
    width: 100%;
    }
    
    nav {
    display: flex;
    padding: 7% 7%;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 155px;
    }
    
    nav img {
    width: 180px;
    }
    
    .options {
    text-align:right;
    }
    
    .options h3 span {
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
    }
    
    .options h3 span a {
    color: #fff;
    text-decoration: none;
    font-size: 14 px
    }
    
    .options h3 span::after {
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
    }
    
    .options h3 span:hover::after {
    width: 100%;
    }
    
    /* main part styiling */
    
    .main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 10000vh;
    }
    .main img {
    margin: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    } 
    
    .name h1 { 
    padding-left: 10px;
    color: white;
    font: 2em sans-serif;
    font-style:initial;
    }
    .name h2 {
    padding-left: 15px;
    color: white;
    font: 1em sans-serif;
    font-size: 9px;
    font-weight: lighter;
    letter-spacing: 2px;
    }
    
    .main div h1 {
    padding: 2px 0;
    color: white;
    padding: 8;
    font-size: 15px;
    font: 1em sans-serif;
    padding-left: 10px;
    }
    
    .main div h2 {
    padding: 20px 0;
    color: white;
    padding: 2px;
    padding-left: 10px;
    font-size: 3px;
    font: 1em sans-serif;
    color: dimgray;
    }
    
    .main div {
    padding-bottom: 70px;
    }
    
    /* footer part styling */
    
    .footer {
    background: rgb(21, 31, 31);
    padding: 7em;
    flex: 1;
    }
    
    .footer h1 li a {
    inline-size: 1px;
    font-size: 13.6px;
    line-height: 20px;
    padding-top: 14px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.3px; 
    }
    
    .right div h1 li ::after {
    content: '';
    width: 0%;
    height: 1px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
    }
    
    .right div h1 li :hover::after {
    width: 100%;
    }
    
    .column img {
    width: 39px;
    }
    
    .column, .column1, .column2, .column3 {
    float: left;
    width: 25%;
    padding: 8px;
    height: 300px;
    }
    
    /* styling of footer columns */
    
    .left {
    padding-left: 40px;
    }
    .right {
    padding-left: 240px; 
    }
    .right .column2 {
    padding-left: 100px;
    }
    
    .right .column3 {
    padding-left: 250px;
    }
    
    .footer h1 li a1 {
    inline-size: 1px;
    font-size: 13.6px;
    line-height: 20px;
    padding-top: 14px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.3px;
    text-decoration-line: underline;
    }
    
    .coloumn-bottom-part h2 li a {
    line-height: 340px;
    font-size: 10px;
    color: gray;
    }
    