*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
    
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}
    
html { 
    max-width: 100%;
    overflow-x: hidden;
}
    
/* header section styling*/

.header-content {
    min-height: 100vh;
    width: 100%;
    background-image: url('../assets/press_page/image3.jpg');
    background-position:center;
    background-size:cover;
    position: relative;
} 

nav {
    display: flex;
    padding: 7% 7%;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 155px;
}
    
nav img {
    width: 180px;
}

.options {
    text-align:right;
}

.options h3 span {
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
}

.options h3 span a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
    font-family: messina-sans;
}

.options h3 span::after {
    content: '';
    width: 0%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.options h3 span:hover::after {
    width: 100%;
}

.text-block h1 {
    font-size: 60px;
    color: white;
    font-weight: 100;
    padding-left: 300px;
}

.text-block h2 {
    font-size: 16px;
    color: rgb(226, 222, 222);
    padding-left: 140px;
    padding-top: 200px;
    font-weight: 200;
    font-family: gotham;
}

.section1 {
    background-color: rgb(248, 245, 245);
    height: 920px;
    height: 47%;
}

.sub-section1 h1 {
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 230%;
    height: 635px;
    color: black;
    margin-top: 50px;
    padding-left: 130px;
    height: 90px;
}

.sub-section2 img {
    margin-top: 1%;
    display: flex;
    float: left;
    width: 63%;
    height: 667px;
    padding-left: 5%;
    padding-top: 1%;
}
.sub-section2-button {
    padding-top: 30px;
    padding-left: 150px;
}

.box {
    height: 550px;
    width: 39%;    
    background-color:white;
    position:absolute;
    padding-right: 98px;
    left: 730px;
    top: 889px;
}
    
.box h2 {
    margin-block-start: 1.33em; 
    margin-block-end: 1.33em;
    font-family: gt-sectra;
    font-size: 22px;
    font-weight: 200;
    margin-left: 50px;
}

.box h1 {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 0.9rem;
    font-family: gt-sectra;
    color: #777;
}

.box p {
    color: #777;
    line-height: 2;
    font-size: 0.9rem;
    font-family: gt-sectra;
    margin-left: 50px;
}

.main {
    height: 1990px;
}

/* section3 styling */

.section3 {
    font-size: 23px;
    font-family: gtsecra;
    font-weight:bold;
    margin-top: 50px;
    padding-left: 130px;
}

/* section 4 styling */

.section4-coloumn1, .section4-coloumn2 {
    float: left;
    width: 50%;
    padding-top: 80px;
    padding-left: 130px;
    padding-right: 70px;
    height: 1100px;
  }
  
.section4:after {
    content: "";
    display: table;
    clear: both;
}

.section4-coloumn1 h1, h3 {
    font-family: gt-sectra;
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
    font-weight: bold;
}

.section4-coloumn1 p1 {
    font-family: gt-sectra;
    font-size: 29px;
    font-weight: 100;
    padding-right: 50px;
    line-height: 1;
}

.section4-coloumn1 h2 {
    padding-top: 200px;
    font-family: gt-sectra;
    font-size: 29px;
    font-weight: 100;
    padding-right: 50px;
    line-height: 1;
}

.section4-coloumn2 h1, h3 {
    font-family: gt-sectra;
    font-size: 18px;
    font-weight: 100;
    padding-top: 10px;
    font-weight: bold;
}

.section4-coloumn2 p1 {
    font-family: gt-sectra;
    font-size: 29px;
    font-weight: 100;
    padding-right: 50px;
    line-height: 1;
}

/* section 4 button styling */

.section4-coloumn2 h2 {
    padding-top: 80px;
    font-family: gt-sectra;
    font-size: 29px;
    font-weight: 100;
    padding-right: 50px;
    line-height: 1;
}

.section4-button {
    padding-top: 70px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}






